html {
    font-size: 22px
    }
body{

background-color: rgb(0, 26, 103);
color: rgb(225, 206, 206);
}
a {
    color: aliceblue;}
a:visited{
    color: lightgrey;
}
a:hover,a:active{
    color:#eee
}